body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    text-align: justify;
    line-height: 34px;
    color: #777;
    background: url("../images/tic-tac-toe.png");
}

* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

#masthead {
    position: fixed;
    z-index: 99;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    color: #fff;
    background: #fff;
    border-bottom: 2px solid #ccc;
}
#logo {
    float: left;
    width: 300px;
    height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background: #3e997e;
}
nav {
    float: right;
    margin-top: 25px;
}
  
nav a {
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
    color: #999;
    text-decoration: none;
    border-left: 1px solid #efefef;
}
  
nav a:first-child {
    border-left: 0 none;
}

.cannabis {
    width: 40px;
    height: 40px;
    margin-top: 8px;
    margin-right: 5px;
    margin-left: 10px;
    align-content: center;
    color: white;
}

@media only screen and (min-width: 980px) {

    body { 
        margin: 0 auto; 
    }
      
    .portfolio{
      float: none;
      width: 100%;
    }    
}
  
@media only screen and (max-width: 979px) and (min-width: 768px) {
    .container {
      max-width: 700px;
    }
  
    body { 
        margin: 0 auto; 
    }
}
