body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    text-align: justify;
    line-height: 34px;
    color: #777;
    background: url("../Assets/leaf.jpg");
}

* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

#masthead {
    position: fixed;
    z-index: 99;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    color: #fff;
    border-bottom: 2px solid #ccc;
}

#logo {
    float: left;
    width: 300px;
    height: 70px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 80px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background: #189e6b;
    border-radius: 15px;
}

nav {
    float: right;
    height: 70px;
}
  
nav a {
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
    color: #999;
    text-decoration: none;
    border-left: 1px solid #efefef;
}
  
nav a:first-child {
    border-left: 0 none;
}

.cannabis, .bud {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    margin-left: 15px;
    align-content: center;
}

.favStrain {
    width: 20px;
    height: 20px;
    align-content: center;
}

.shop {
    width: 15px;
    height: 15px;
    align-content: center;
}


#main-container {
    padding-top: 25px;
}
  
.main-section {
    float: left;
    width: 80vw;
    max-width: 650px;
    padding: 30px;
    margin: 0 0 40px;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 4px 4px 15px 2px #333333;
}

#queryBtn {
    font-size: 200%;
    margin-left: 20%;
    margin-right: 20%;
    background-color:  #c9c9c9;
}

#resultsBox {
    width: 80vw;
    align-content: center;
    margin-left: 200px;
    margin-right: 200px;
    height: 80vh;
    margin-top: 20%;
    margin-bottom: 150px;
    border-radius: 15px;
    padding-top: 100px;
}

.label {
    position: absolute;
}

h2, h3 {
    text-align: center;    
}

#modal {
    border-radius: 20px;
}

#modalBox {
    background-color: #4ea56f;
    color: white;
    text-align: center;
}

.burger.pseudo.button {
    color:  #c9c9c9;
    background-color: #e2e2e2;
    color: white;
}

.button, #findBtn {
    background-color: #189e6b;
    margin-top: 0px;
}

#faveBtn,  #allBtn {
    margin-top: 0px;
    background-color: #e9b0b0;
    font-size: 20px;
}

/*Footer*/

footer {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #fff;
    color: #ccc;
    text-align: center;
    background: #666;
    border-top: 8px solid #189e6b;
}

@media only screen and (max-width: 1160px) and (min-width: 980px) {

    nav {
        max-width: auto;
    }

    body { 
        margin: 0 auto; 
    }

    .main-section {
        max-width: 650px;
        height: 80vh;
        width: 80vw;
    }

    #resultsBox {
        height: 80vh;
        width: 80vw;
        margin-left: 150px;
        margin-right: 200px;
        margin-top: 20%;
    }

    .label {
        position: absolute;
    }
}
  
@media only screen and (max-width: 979px) and (min-width: 768px) {
    .container {
      max-width: 700px;
    }
  
    body { 
        margin: 0 auto; 
    }

    .main-section {
        max-width: 550px;
        height: 80vh;
        width: 80vw;
        margin-left: 20%;
        margin-right: 20%;
    }

    #resultsBox {
        height: flex;
        width: 80vw;
        margin-left: 10%;
        margin-right: 20%;
        margin-top: 20%;
    }

    .label {
        position: absolute;
    }
}


@media only screen and (max-width: 767px) and (min-width: 640px) {
    .container {
        max-width: 600px;
    }
  
    body {
        margin: 0 auto; 
    }

    .main-section {
        max-width: 550px;
        height: 80vh;
        width: 80vw;
    }

    #resultsBox {
        height: flex;
        width: 80vw;
        margin-left: 10%;
        margin-right: 20%;
        margin-top: 20%;
    }

    .label {
        position: absolute;
    }

    nav {
        max-width: auto;
        float: none;
        text-align: center;
        margin: auto;
    }

}

@media only screen and (max-width: 639px) and (min-width: 500px) {
    .container {
      max-width: 500px;
    }

    .main-section {
        max-width: 100%;
        margin-right: 15px;
        margin-left: 5px;
    }

    #resultsBox {
        height: flex;
        width: 80vw;
        margin-left: 20%;
        margin-right: 20%;
        margin: 40px;
    }

    .label {
        position: absolute;
    }

    #logo {
        width: 100%;
        max-width: 300px;
        height: 70px;
        font-size: 24px;
        line-height: 50px;
    }

    #masthead {
        position: static;
    }
  
    nav {
        float: none;
        text-align: center;
        margin: auto;
    }
  
    nav a {
        width: 33.3%;
        float: left;
        padding: 15px 0px 15px 0px;
        margin: 0px;
    }
    
    h1 {
        font-size: 24px;
        padding-bottom: 0px;
    }
  
    h2, h3 {
          font-size: 20px;
    }
    
    body {
        font-size: 16px;
        line-height: 30px;
    }
}